.flip-container {
  perspective: 1000px;
  max-width: 700px;
}
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}
.flip-container,
.front,
.back {
  width: 180px;
  height: 130px;
  margin-top: 2px;
}
img {
  max-width: 454px;
  max-height: 166px;
}
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 2px;
}
.front {
  z-index: 2;
  transform: rotateY(0deg);
  /*background-image: url('assets/img/err.png') no-repeat ;*/
}

.front input {
  color: rgb(104, 107, 119);
  font-size: 1.2em;
  text-shadow: 0px 4px 4px rgba(255, 255, 255, 4);
}

.back {
  transform: rotateY(180deg);
}
.flex-container {
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  /* justify-content: center; */
  max-width: 800px;
  position: relative;
  float: left;
}
#lateral {
  position: relative;
  width: 300px;
  /*width: 1100px;*/
  float: right;
  padding-top: 10px;
}
.laterala {
  margin-top: 10px;
  width: 300px;
  position: relative;
  height: 50px;
  padding: 10px 10px;
  /* background-color: blue; */
  /* border: solid 5px green; */
  border-radius: 10px;
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

.equipe1 {
  background-color: orange;
  color: black;
  border-radius: 60px;
  font-size: 20px;
  text-shadow: 0px 1px 2px rgba(255, 255, 255, 2);
}

.equipe1:hover {
  animation: bounce 1s;
}

.equipe1:active {
  background-color: #da7f02;
  color: #fff;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
}

.equipe2 {
  background-color: yellow;
  color: black;
  border-radius: 60px;
  font-size: 20px;
  text-shadow: 0px 1px 2px rgba(255, 255, 255, 2);
}

.equipe2:hover {
  animation: bounce 1s;
}

.equipe2:active {
  background-color: rgb(224, 222, 55);
  color: #fff;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
}

.equipe3 {
  background-color: rgb(74, 165, 10);
  color: white;
  border-radius: 60px;
  font-size: 20px;
  text-shadow: 0px 1px 2px rgba(000, 000, 000, 2);
}

.equipe3:hover {
  animation: bounce 1s;
}

.equipe3:active {
  background-color: green;
  color: #fff;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
}

.equipe4 {
  background-color: red;
  color: white;
  border-radius: 60px;
  font-size: 20px;
  text-shadow: 0px 1px 2px rgba(000, 000, 000, 2);
}

.equipe4:hover {
  animation: bounce 1s;
}

.equipe4:active {
  background-color: rgb(185, 35, 15);
  color: #fff;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
}

.equipe5 {
  background-color: blue;
  color: white;
  border-radius: 60px;
  font-size: 20px;
  text-shadow: 0px 2px 2px rgba(000, 000, 000, 2);
}

.equipe5:hover {
  animation: bounce 1s;
}

.equipe5:active {
  background-color: rgb(12, 48, 150);
  color: #fff;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
}

.lateralb {
  margin-top: 10px;
  width: 150px;
  position: relative;
  height: 50px;
  padding: 10px 10px;
  background-color: red;
  /* border: solid 5px blue; */
  border-radius: 10px;
  color: #fff;
}
.pontos {
  margin-top: 10px;
  padding: 10px 10px;
  position: relative;
}
.laterala:hover {
  opacity: 1;
  filter: alpha(opacity=50);
}
.laterala:visited {
  background-color: red;
  opacity: 1;
  filter: alpha(opacity=10);
}
.flex-item {
  width: 180px;
  height: 130px;
  color: white;
  font-weight: bold;
  font-size: 3em;
}
.who {
  background: url('../img/who.png') no-repeat;
  background-size: 280px 180px;
  width: 180px;
  height: 130px;
  border: none;
}
.w1 {
  background: url('../img/01.jpg') no-repeat center;
  background-size: 179px 130px;
  width: 180px;
  height: 130px;
  border: none;
}

.w2 {
  background: url('../img/02.jpg') no-repeat center;
  background-size: 179px 130px;
  width: 180px;
  height: 130px;
  border: none;
}

.w3 {
  background: url('../img/03.jpg') no-repeat center;
  background-size: 179px 130px;
  width: 180px;
  height: 130px;
  border: none;
}

.w4 {
  background: url('../img/04.jpg') no-repeat center;
  background-size: 179px 130px;
  width: 180px;
  height: 130px;
  border: none;
}

.w5 {
  background: url('../img/05.jpg') no-repeat center;
  background-size: 179px 130px;
  width: 180px;
  height: 130px;
  border: none;
}

.w6 {
  background: url('../img/06.jpg') no-repeat center;
  background-size: 179px 130px;
  width: 180px;
  height: 130px;
  border: none;
}

.w7 {
  background: url('../img/07.jpg') no-repeat center;
  background-size: 179px 130px;
  width: 180px;
  height: 130px;
  border: none;
}

.w8 {
  background: url('../img/08.jpg') no-repeat center;
  background-size: 179px 130px;
  width: 180px;
  height: 130px;
  border: none;
}

.w9 {
  background: url('../img/09.jpg') no-repeat center;
  background-size: 179px 130px;
  width: 180px;
  height: 130px;
  border: none;
}

.w10 {
  background: url('../img/10.jpg') no-repeat center;
  background-size: 179px 130px;
  width: 180px;
  height: 130px;
  border: none;
}
.w11 {
  background: url('../img/11.jpg') no-repeat center;
  background-size: 179px 130px;
  width: 180px;
  height: 130px;
  border: none;
}

.w12 {
  background: url('../img/12.jpg') no-repeat center;
  background-size: 179px 130px;
  width: 180px;
  height: 130px;
  border: none;
}

.w13 {
  background: url('../img/13.jpg') no-repeat center;
  background-size: 179px 130px;
  width: 180px;
  height: 130px;
  border: none;
}

.w14 {
  background: url('../img/14.jpg') no-repeat center;
  background-size: 179px 130px;
  width: 180px;
  height: 130px;
  border: none;
}

.w15 {
  background: url('../img/15.jpg') no-repeat center;
  background-size: 179px 130px;
  width: 180px;
  height: 130px;
  border: none;
}
.w16 {
  background: url('../img/16.jpg') no-repeat center;
  background-size: 179px 130px;
  width: 180px;
  height: 130px;
  border: none;
}

.w17 {
  background: url('../img/17.jpg') no-repeat center;
  background-size: 179px 130px;
  width: 180px;
  height: 130px;
  border: none;
}

.w18 {
  background: url('../img/18.jpg') no-repeat center;
  background-size: 179px 130px;
  width: 180px;
  height: 130px;
  border: none;
}

.w19 {
  background: url('../img/19.jpg') no-repeat center;
  background-size: 179px 130px;
  width: 180px;
  height: 130px;
  border: none;
}

.w20 {
  background: url('../img/20.jpg') no-repeat center;
  background-size: 179px 130px;
  width: 180px;
  height: 130px;
  border: none;
}

.err {
  background: url('../img/err.png') no-repeat center;
  background-size: 179px 130px;
  width: 180px;
  height: 130px;
  border: none;
}

.swal2-popup {
  font-size: 2em;
}
